<body>
  <div class="container">
    <div class="row">
      <dic class="col-xs-12 text-center">
        <p class="top-page">あなただけの</br>
          行きたい場所が見つかる</p>
      </dic>
      <dic class="col-xs-12 text-center">
        <%= link_to "Log in", new_user_session_path, class:"btn btn-info" %>
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-warning" %>
      </div>
    </div>
  </div>
</body>